{
	servers {
		trusted_proxies static private_ranges
	}
}

pass.cy7.sh {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}

	encode zstd gzip

	reverse_proxy vaultwarden:80 {
		header_up X-Real-IP {client_ip}
	}
}

dns.cy7.sh {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}
	encode zstd gzip

	reverse_proxy adguard:80 {
		header_up X-Real-IP {client_ip}
	}
}

link.cy7.sh {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}
	encode zstd gzip

	reverse_proxy linkding:9090 {
		header_up X-Forwarded-For {client_ip}
	}
}

rss.cy7.sh {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}
	encode zstd gzip

	reverse_proxy freshrss:80 {
		header_up X-Real-IP {client_ip}
	}
}

photos.cy7.sh {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}
	encode zstd gzip

	reverse_proxy immich-server:2283 {
		header_up X-Real-IP {client_ip}
	}
}

git.cy7.sh {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}
	encode zstd gzip

	reverse_proxy forgejo:3000 {
		header_up X-Real-IP {client_ip}
	}
}

matrix.cy7.sh {
  reverse_proxy /_matrix/* homeserver:8448 {
    header_up Host {host}
    header_up X-Real-IP {client_ip}
    header_up X-Forwarded-For {client_ip}
    header_up X-Forwarded-Proto {scheme}
    transport http {
      read_buffer 8192
      read_timeout 3600s
      write_timeout 3600s
      dial_timeout 30s
    }
  }
  reverse_proxy /_synapse/client/* homeserver:8448
  reverse_proxy /_synapse/admin/* homeserver:8448
}
