anki.cy7.sh {
  reverse_proxy localhost:27701
}

git.cy7.sh {
  reverse_proxy localhost:3000
}

link.cy7.sh {
  reverse_proxy localhost:9090
}

rss.cy7.sh {
  reverse_proxy localhost:8080
}

photos.cy7.sh {
  reverse_proxy localhost:2283
}

matrix.cy7.sh {
  reverse_proxy localhost:8448
}

t.cy7.sh {
  reverse_proxy localhost:9091
}

pass.cy7.sh {
  reverse_proxy localhost:8081
}
